{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title_source_link %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}"/>
</head>
<body>
<div class="topnav" id="myTopnav">
    <a href="{% url 'course:main_page' %}">Home</a>
    <a href="{% url 'course:students' %}">Students</a>
    <a href="{% url 'course:profs' %}">Profs</a>
    <a href="{% url 'course:courses' %}">Courses</a>
    <a href="{% url 'course:questions' %}">Questions</a>
    <a href="{% url 'course:exams' %}">Exams</a>
</div>
{% block body %}
{% endblock %}
</body>
</html>